<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
</head>
<body>
  <h1>Welcome to the Landing Page!</h1>
  
  <%= link_to "Sign Up", "/sign_up" %>
  <%= link_to "Log In", "/login" %>
</body>
</html>

